@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    margin-left: 2rem;
  }
}

.box {
  width: 40px;
  height: 40px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
